fastapi==0.115.5
uvicorn[standard]==0.32.1
aiohttp==3.11.7
python-multipart==0.0.18
llama-index-core==0.12.41
llama-parse==0.5.15
sqlalchemy[asyncio]==2.0.36
asyncpg==0.30.0
alembic==1.14.0
bcrypt==4.2.1
pyjwt==2.10.1
boto3==1.35.80
pydantic[email]==2.10.3
